.navbar {
    background-color: rgb(43, 43, 43);
    color: #FFFAFA;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    gap: 2rem;
    padding: 0 1rem;

    #iris-logo {
        height: 16%;
        width: 16%;
        margin-right: 0.75rem;
    }

    .site-title {
        font-size: 2rem;
    }

    a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding: .25rem;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    li:hover {
        background-color: #777;
    }

    li.active {
        background-color: #555;
    }

}